:80 {

    @appointley host appointley.jasnrathore.fun

    handle @appointley {
        rewrite * /appointley{path}

        reverse_proxy https://jasnlinuxhome.tailfe429b.ts.net {
            transport http {
                tls_server_name jasnlinuxhome.tailfe429b.ts.net
            }
        }
    }

    handle {
        root * /var/www/html
        file_server
    }

    handle_errors {
        rewrite * /index.html
        file_server
    }
}
